# Vim
*.swp

# Data
*.txt
*.gz
*.tsv
*.csv

# TeX
*.log
*.aux
*.toc
*.bbl
*.ps
*.dvi
*.blg
*.out
*.pdf

# Images
*.jpg
*.png
*.eps

# Directories
Assignment1/plots
instructions/*

# R related
Rplots.pdf

# minimap/miniasm
*.paf
